body {
    font-family: 'Forum', serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1440px;
    min-height: 100hv;
    margin: 0px auto;
    text-align: center;
    background: var(--background-body, #E1D4C9);
    padding: 20px 0px;
}
html {
    scroll-behavior: smooth;
}
.container {
    max-width: 1440px;
    padding: 0px 40px;
    margin: 0px auto;
    box-sizing: border-box;
}
.wrap-header-menu {
    display: flex;
    justify-content: space-between;
    margin: 4px 0px 19px 0px;
    height: 60px;
}
.block-burger-menu {
    display: flex;
    flex-direction: row;
    width: 908px;
    justify-content:space-between
}
.burger-icon {
    display: none;
}
.imgLogo{
    position: relative;
    display: inline-block;
}
.imgLogo:hover {
    background: rgba(160, 160, 116, 0.5);
    border-radius: 50%;
    transition: all 0.3s ease;
}
.imgLogo1{
    position: absolute;
    z-index: 0;
    width: 38px;
    height: 38px;
    flex-shrink: 0;
    margin: 6px 0px 0px 30px;
}
.imgLogo2{
    position: relative;
    z-index: 1;
    width: 92.514px;
    height: 22.342px;
    flex-shrink: 0;
    margin: 12px 0px 0px 3px;
}
.imgLogo3{
    position: absolute;
    z-index: 2;
    margin: 48px 0px 0px -79px;
    width: 65.784px;
    height: 6.586px;
    flex-shrink: 0;
}
.nav-menu-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex: 1 0 0;
    align-self: stretch;
    padding: 0px;
    margin: 15px 0px 0px 11px;
}
.nav-menu-list-item a {
    color: var(--text-dark, #403F3D);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}
.nav-menu-list-item-link:hover{
    border-bottom: 2px solid #403F3D; 
    cursor: pointer;
    transition: 0.5s ;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
.menu-cup {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    color: var(--text-dark, #403F3D);
    background: var(--background-body, #E1D4C9);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    border: none;
    margin: 15px 1px 0px 9px;
    padding: 0px;
    border-bottom: 3px solid #403F3D;
}
.menu-cup:disable {
    cursor: not-allowed;
}
.behind {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    align-self: stretch;
    max-width: 1360px;/* добавил*/
}
.beh-text-cont{
    max-width: 800px; /* добавил*/
}
.behind-text {
    color: var(--text-dark, #403F3D);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; 
    width: 100%; /* изменил с 800px*/
    margin: -1px 0px 0px 0px;
}
.amazing {
    color: var(--text-accent, #B0907A);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 59px;
    font-style: italic;
    font-weight: 600;
    line-height: 125%;
    margin: 0px 11px 0px 0px;
    letter-spacing: 0px;
}
.i {
    letter-spacing: -0.5px;
}
.c {
    letter-spacing: -0.5px;
}
.nn {
    letter-spacing: -5px;
}
.q {
    letter-spacing: -5px;
}
.carusel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10.4px;
    margin: 0px 2px 39px -1.5px;
}
.img-dot {
    border-radius: 100px;
    background: var(--border-light, #C1B6AD);
    padding: 6px 6px;
    justify-content: center;
    align-items: center;
    color: var(--text-dark, #403F3D);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    gap: 8px;
    margin: 6px 11px 0px 0px;
}
input {
    display: none;
}
label {
    display: inline-block;
    width: auto;
    height: auto;
    border-radius: 40px;
    border: 1px solid #C1B6AD;
    text-align: center;
    padding: 3px 16px 3px 8px;
}
.coffee-label:after {
    content: 'Coffee';
    position: relative;
    top: -8px;
    left: -1px;
    color: var(--text-dark, #403F3D);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}
.coffee-input:disable {
cursor: not-allowed;
}
.tea-label:after {
    content: 'Tea';
    position: relative;
    top: -9px;
    color: var(--text-dark, #403F3D);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}
.cake-label:after {
    content: 'Dessert';
    position: relative;
    top: -9px;
    left: 1px;
    color: var(--text-dark, #403F3D);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}
input:checked ~ label {
    border-radius: 100px;
    background: var(--background-container, #665F55);
}
input:checked ~ .coffee-label:after {
    content: 'Сoffee';
    color: var(--text-light, #E1D4C9);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; 
}
input:checked ~ .tea-label:after {
    content: 'Tea';
    color: var(--text-light, #E1D4C9);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; 
}
input:checked ~ .cake-label:after {
    content: 'Dessert';
    color: var(--text-light, #E1D4C9);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; 
}
.tea-label {
    cursor:pointer;
}
.cake-label {
    cursor:pointer;
}
.tea-label:hover {
    background: var(--background-container, #665F55);
    transition: 1s;
}
.cake-label:hover {
    background: var(--background-container, #665F55);
    transition: 1s;
}
.log-text {
   position: absolute;
   margin: 10px 0px 0px 0px;
   color: var(--text-light, #E1D4C9);
   font-feature-settings: 'clig' off, 'liga' off;
   font-family: Inter;
   font-size: 16px;
   font-style: normal;
   font-weight: 600;
   line-height: 150%; 
   opacity: 0;
}
.tea-label:hover .log-text {
    background: var(--background-container, #665F55);
    opacity: 1;
    z-index: 1;
    transition: 1s;
}
.cake-label:hover .log-text {
    background: var(--background-container, #665F55);
    opacity: 1;
    z-index: 1;
    transition: 1s;
}
.box-img-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    gap: 39px;
    flex-wrap: wra; /* убрал*/
    margin: 0px 0px -2px -0.5px;
    widt: 100%; /* изменил с  width 1440px*/
}

.box-menu {
    border-radius: 40px;
    border: 1px solid var(--border-light, #C1B6AD);
    width: 22.63%;/* изменил с  width  308px*/
    flex-shrink: 0;
    display: flex;
    max-height: 506px;
    flex-direction: column;
    align-items: center;  
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
}
.box-menu-block-1, .box-menu-block-2  {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 40px;
    max-width: 1360px;
}
.box-menu .img-drink {
    transition: 1s;
    display: block;
}
.box-menu:hover img{
    transform: scale(1);
}
.img-drink {
    width: 102%;
    height: 100%;
    border-radius: 40px;
    transform: scale(1.1);
    object-fit: cover;
    position: relative;
    object-fit: cover;
}
.img-c {
    max-width: 310px;
    max-height: 310px;
    overflow: hidden;
    border-radius: 40px;
}
.img-c img {
    width: 100%;/* добавил*/
}
.name-drink {
    width: 100%;/* добавил*/
}
.about-drink {
    width: 100%;/* добавил*/
}
.price-drink {
    width: 100%;/* добавил*/
}

.block-about-drink {
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
    max-width: 90%; /* добавил max*/
    height: auto;
    margin: 6px 0px 0px -2px;
}
.block-about-drink-text {
    margin: 0px 0px 0px 0px;
    max-width: 270px; /* добавил только этот параметр*/
}
.name-drink {
    color: var(--text-dark, #403F3D);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; 
    align-self: stretch;
    text-align: left;
    widt: 270px;
    height: auto;
    margin: -4.5px 0px 0px -1px;
}
.name-drink-1 {
    margin: -5px 0px 0px -1px; 
}
.about-drink {
    color: var(--text-dark, #403F3D);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
    align-self: stretch;
    text-align: left;
    margin: 0px;
}
.block-about-drink {
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
    width: 100%; /* добавил max*/
    height: 156px;
}
.block-about-drink-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
    margin: 0px 0px 0px 0px;
}
.price-drink {
    color: var(--text-dark, #403F3D);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; 
    align-self: stretch;
    text-align: left;
    margin: auto 0px 4px 0px;
}
.price-drink-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
    text-align: left;
    max-width: 270px;
}

.split {
    opacity: 0;
}
.footer {
    padding: 0px 40px 40px 40px;
}
.container-footer {
    display: flex;
    max-width: 1360px;
    padding: 100px;
    justify-content: center;
    align-items: center;
    gap: 100px;
    align-self: stretch;
    border-radius: 40px;
    background: var(--background-container, #665F55);
    margin: 34px 0px 20px 0px;
   
}
.footer-text-left {
    width: 45.7%;
    flex-shrink: 0;
    min-width: 300px;
}
.footer-text-left {

    min-width: 300px;
}
.footer-text {
    color: var(--text-light, #E1D4C9);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    align-self: stretch;
    height: auto;
    max-width: 100%;
    margin: 0px 0px 0px -3px;
    text-align: left;
}
.coffee-time {
    color: var(--text-accent, #B0907A);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 59px;
    font-style: italic;
    font-weight: 600;
    line-height: 125%;
    margin: 0px 0px 0px -1px;
}
.icon-footer-list {
    display: flex;
    gap: 11px;
    margin: 38px 0px 0px -43px;
}
.icon-item {
    display: flex;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 1px solid var(--border-light, #C1B6AD);
}
.icon-item:hover svg{
    stroke: #403F3D;
    border-radius: 100px;
    background-color: #E1D4C9;
    padding: 18px 18px 18px 18px;
    justify-content: center;
    align-items: center;
    margin: 3px 0px 0px 0px;
    transition: 1s;
}
.iccn-link svg {
    stroke:#E1D4C9;
}
.iccn-link svg {
    padding: 18px 18px 18px 18px;
}
.footer-text-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    flex: 1 0 0;
    text-align: left;
    margin: 25px 0px 0px 0px;
    flex-shrink: 1;    
}
.footer-contact {
    color: var(--text-light, #E1D4C9);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    align-self: stretch;
}
.footer-contact-str {
    margin: -11px 0px 0px -2px;
}
.info-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    margin: -19px 0px 0px -2px;
}
.contacts-info {
    color: var(--text-light, #E1D4C9);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    line-height: 150%;
    letter-spacing: 0.1px;
}
.text-contact a {
    color: var(--text-light, #E1D4C9);
}
.fot-cont-link:hover {
border-bottom: 3px solid #E1D4C9;
transition: 1s;
}
.tic {
    margin: 4px 0px 0px 0px;
}