@media (max-width: 1439px) {
    .page {width: 1024px;
        overflow: hidden;
        position: relative;
        height: 100%;
        margin: 0px auto;
    }
    * {
        box-sizing: border-box;
      }

}







@media (max-width: 1024px) {
    .page {width: 768px;
        overflow: hidden;
        position: relative;
        height: 100%;
        margin: 0px auto;
    }
    * {
        box-sizing: border-box;
    }
    .nav-menu-list {
        display: flex;
        flex-direction: column;
        gap: 60px;
        margin: 0px 0px 0px -50px;
        background-color: #e1d4c9;
        width: 768px;
        height: 924px;
        padding: 60px 40px;
       display: none;
       border: 2px solid red;
       z-index: 1;
       position: relative;
    }
    .nav-menu-list-item a {
        color: var(--text-dark, #403F3D);
        text-align: center;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Inter;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 125%; 
    }
    .menu-cup {
        display: none;
    }
    .burger-icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 100px;
        border: 1px solid var(--border-dark, #665F55);
        width: 44px;
        height: 44px;
        gap: 6.5px;
        margin: 8px 0px 0px 0px;
    }
    .burger-line {
        width: 16px;
        height: 1.5px;
        background-color: #403f3d;
    }
    .section-enjoy {
        background-image: url('./assets/img/container-hero.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 40px;
        padding: 100px 60px;
     }
     .img-about-2 {
        display: none;
     }
     .img-about-3 {
        display: none;
     }
     .img-block-1{
        gap:0px;
     }
     .img-block-2{
        gap:0px;
     }
     .img-about {
        margin: 0px auto;
        display: flex;
        max-width: 1360px;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        align-self: stretch;
     }
     .img-about-1 {
        border-radius: 20px;
        transform: scale(1.05);
        object-fit: cover;
        width: 688px;
        height: 590px;
        flex-shrink: 0;
    }
    .img-about-4 {
        transform: scale(1.05);
        object-fit: cover;
        width: 688px;
        height: 590px;
        flex-shrink: 0;
        border-radius: 20px;
    }

    .container-mobile-text{
        display: flex;
        flex-direction: column;
    }
    .text-mobile-up {
        width: 688px;
        height: auto;
        margin: 0px 0px 0px -20px;
    }
   







}




















@media (max-width: 767px) {
    .page {width: 380px;
        overflow: hidden;
        position: relative;
        height: 100%;
        margin: 0px auto;
    }
    * {
        box-sizing: border-box;
    }
   
   




}

